:root {
  --white: #ffffff;
  --darkblue: #2d303a;
  --superdarkblue: #323746;
  --orange: #f06c64;
  --dotdarkblue: #494e62;
  --darkorange: #ea676b;
  --textdarkblue: #666d89;
  --paragraphdarkblue: #767e9e;
  --serviceswhite: #f2f2f2;
}

@font-face {
  font-family: "Lato Bold";
  src: url("assets/fonts/Lato-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Lato Black";
  src: url("assets/fonts/Lato-Black.ttf") format("opentype");
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Lato Thin";
  src: url("assets/fonts/Lato-Thin.ttf") format("opentype");
}

body {
  margin: 0 auto;
}

header {
  min-height: 89px;
  background-color: var(--darkblue);
  border-bottom: 6px solid var(--superdarkblue);
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

header .container {
  display: flex;
  font-family: "Lato Bold";
  letter-spacing: -0.0375em;
}

header h1 {
  margin-left: 40px;
  padding-top: 11px;
  font-size: 25px;
  color: var(--white);
}

header h1 > span {
  color: var(--orange);
}

header nav {
  margin: 22px 39px auto auto;
}

header nav > ul > li {
  display: inline;
}

header nav > ul > li::before {
  margin-left: 11px;
  content: '·';
  color: var(--dotdarkblue);
}

header nav > ul > li:first-child::before {
  display: none;
}

header nav a {
  margin-left: 14px;
  font-size: 12px;
  color: var(--white);
  letter-spacing: -0.035em;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.active {
  color: var(--orange);
}

header nav a:hover {
  color: var(--orange);
  cursor: pointer;
}

.slider {
  background-color: var(--orange);
  border-bottom: 6px solid var(--darkorange);
}

.slider .container {
  position: relative;
  min-height: 594px;
}

.slider-button {
  position: absolute;
  top: 50%;
  z-index: 7;
  transform: translateY(-53%);
  border: none;
  background-color: var(--orange);
}

.slider-button:hover {
  cursor: pointer;
}

.slider-button img:hover {
  filter: drop-shadow(2px 3px 4px var(--darkblue));
}

.arrowleft {
  left: 36px;
}

.arrowright {
  right: 34px;
}

.iphone-vertical {
  position: absolute;
  top: 53px;
  left: 111px;
  z-index: 2;
}

.screen-vertical {
  position: absolute;
  top: 115px;
  left: 123px;
  z-index: 3;
}

.shadow-vertical {
  position: absolute;
  top: 53px;
  left: 112px;
  z-index: 1;
}

.iphone-horizontal {
  position: absolute;
  top: 174px;
  right: 136px;
  z-index: 5;
}

.screen-horizontal {
  position: absolute;
  top: 185px;
  right: 199px;
  z-index: 6;
}

.shadow-horizontal {
  position: absolute;
  top: 174px;
  right: 111px;
  z-index: 4;
}

.services {
  min-height: 494px;
  background-color: var(--serviceswhite);
  border-bottom: 6px solid var(--white);
}

.services .container {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 34px;
  box-sizing: border-box;
  font-family: "Lato Black";
  color: var(--textdarkblue);
}

.services h2 {
  max-height: 36px;
  margin-bottom: 19px;
  font-size: 30px;
  letter-spacing: -0.005em;
  overflow: hidden;
}

.services .container > p {
  max-height: 60px;
  margin-top: 19px;
  font-family: "Lato Thin";
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.01875em;
  color: var(--paragraphdarkblue);
  overflow: hidden;
}

.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 42px;
  column-gap: 17px;
  row-gap: 18px;
}

.three-columns > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.three-columns > div > img {
  margin-right: 15px;
  padding-left: 1px;
  padding-top: 4px;
}

.three-columns > div:nth-child(3n) img {
  padding-left: 2px;
}

.three-columns > div:nth-child(3n) .textblock {
  padding-left: 7.5px;
}

.three-columns .textblock {
  max-height: 105px;
  padding-left: 5px;
}
.three-columns h3 {
  max-height: 22px;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  letter-spacing: -0.0075em;
  overflow: hidden;
}

.three-columns p {
  max-height: 63px;
  margin-top: 8px;
  font-family: "Lato";
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0.012em;
  color: var(--paragraphdarkblue);
  overflow: hidden;
  text-overflow: clip;
}
